<!DOCTYPE html>
<html>

<head>
    <title>your title here</title>
</head>

<body>
    <h1>your content here</h1>
    <h3>your content here</h3>
    <h6>your content here</h6>
    <div>
        <h1>title of this</h1>
        <p>
            <div>alksdfljasdlkfjlkaj</div>alksdfljasdlkfjlkaj<strong>Cannot find module</strong>
            '/Users/brandon/FirstExpressApp/views/app.js'
            at Function.Module._resolveFilename (internal/modules/cjs/loader.js:571:15)
            at Function.Module._load (internal/modules/cjs/loader.js:497:25)
            at Function.Module.runMain (internal/modules/cjs/loader.js:719:10)
            at startup (internal/bootstrap/node.js:228:19)
            at bootstrapNodeJSCore (internal/bootstrap/node.js:575:3)
            Brandons-MacBook-Pro:views brandon$ cd ..
            Brandons-MacBook-Pro:FirstExpressApp brandon$ node app.js
            server upklajsdfljas;dfaksjdfklajsdf;sdfl;kjasdlfjasldkjf
        </p>
    </div>
    <div>
        <p>Cannot find module '/Users/brandon/FirstExpressApp/views/app.js'
            at Function.Module._resolveFilename (internal/modules/cjs/loader.js:571:15)
            at Function.Module._load (internal/modules/cjs/loader.js:497:25)
            at Function.Module.runMain (internal/modules/cjs/loader.js:719:10)
            at startup (internal/bootstrap/node.js:228:19)
            at bootstrapNodeJSCore (internal/bootstrap/node.js:575:3)
            Brandons-MacBook-Pro:views brandon$ cd ..
            Brandons-MacBook-Pro:FirstExpressApp brandon$ node app.js
            server upajsdlkfjlkajs<em>asdfasdfasdfasdfasdf</em>dflkjasdlkjflaksjdfkl;jasd;fk</p>
    </div>

    <ol>
        <li>red</li>
        <li>blue</li>
        <li>orange
            <ul>
                <li>sun</li>
                <li>pencil</li>
            </ul>
        </li>
    </ol>
    <ul>
        <li>red</li>
        <li>blue</li>
        <li>orange</li>
    </ul>

    <img src="https://images.unsplash.com/photo-1532153975070-2e9ab71f1b14?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=964a1f7c99f81f269086095da7aa0734&auto=format&fit=crop&w=1950&q=80">
    <a href="http://www.google.com">click me to go to google<a>

            <table border="1">
                <tr>
                    <th>name</th>
                    <th>age</th>
                </tr>
                <tr>
                    <td>red</td>
                    <td>orange</td>
                </tr>
                <tr>
                    <td>yellow</td>
                    <td>green</td>
                </tr>
            </table>
            <!-- 
            <form action="/yourpostroute_here" method="POST"> -->

            <form action="http://www.wikipedia.org">
                <label>username
                    <input name="username" type="text" placeholder="name" required>
                </label>
                <label>password
                    <input name="password" type="password" placeholder="password" required>
                </label>
                <input type="submit">
            </form>

            <p>do you prefer cats or dogs?</p>
            <form>
                <label>dog<input name="petChoice" type="radio" value="DOGS"></label>
                <label>cat<input name="petChoice" type="radio" value="CATS"></label>
            </form>

            <p>what's your name</p>

            <select name="color">
                <option>red</option>
                <option>orange</option>
                <option>yellow</option>
            </select>

            <button>go!</button>
            </form>

            <textarea name="resume" rows="10" cols="50"></textarea>

</body>

</html>